<md-tab md-icon="favorite_border">
  <form novalidate @submit.stop.prevent="bejometerSubmit">
    <md-input-container>
      <md-icon>person</md-icon>
      <label>Nama anda</label>
      <md-input v-model="bejometerInput.name1"></md-input>
    </md-input-container>
    <md-input-container>
      <md-icon>today</md-icon>
      <label>Tanggal lahir anda</label>
      <md-input type="date" v-model="bejometerInput.date1"></md-input>
    </md-input-container>
    <md-input-container>
      <md-icon>person</md-icon>
      <label>Nama "dia"</label>
      <md-input v-model="bejometerInput.name2"></md-input>
    </md-input-container>
    <md-input-container>
      <md-icon>today</md-icon>
      <label>Tanggal lahir "dia"</label>
      <md-input type="date" v-model="bejometerInput.date2"></md-input>
    </md-input-container>
    <md-layout md-align="center">
      <md-button id="bejometerButton" :disabled="bejometerRequesting" type="submit" class="md-raised md-primary">JODOH?</md-button>
    </md-layout>
  </form>
</md-tab>

<md-theme md-name="dialog">
  <md-dialog class="md-headline" md-open-from="#bejometerButton" md-close-to="#bejometerButton" ref="bejometerResult">
    <md-layout md-align="center" v-if="bejometerRequesting">
      <md-spinner md-indeterminate></md-spinner>
    </md-layout>
    <md-layout md-gutter v-if="bejometerResult">
      <md-layout md-align="center" v-if="bejometerResult.person1.gender === bejometerResult.person2.gender">
        Maaf {{bejometerResult.person1.gender === 'L' ? 'mas' : 'mbak'}}, Bejometer tidak mengenal hubungan sesama jenis.
      </md-layout>
      <md-layout md-column v-if="bejometerResult.person1.gender !== bejometerResult.person2.gender">
        <md-layout md-align="center"></md-layout>
        <md-layout md-align="center">{{bejometerResult.person1.gender === 'L' ? 'Mas' : 'Mbak'}} {{bejometerInput.name1}}</md-layout>
        <md-layout md-align="center" v-if="bejometerInput.date1">{{toTitleCase(bejometerResult.person1.indonesiaDay+' '+bejometerResult.person1.javaDay)}}</md-layout>
        <md-layout md-align="center"><md-icon>favorite</md-icon></md-layout>
        <md-layout md-align="center">{{bejometerResult.person2.gender === 'L' ? 'Mas' : 'Mbak'}} {{bejometerInput.name2}}</md-layout>
        <md-layout md-align="center" v-if="bejometerInput.date2">{{toTitleCase(bejometerResult.person2.indonesiaDay+' '+bejometerResult.person2.javaDay)}}</md-layout>
        <md-layout md-align="center"><strong>{{toPercent(bejometerResult.match)}} Jodoh</strong></md-layout>
        <md-layout md-align="center"></md-layout>
      </md-layout>
    </md-layout>
    <md-dialog-content v-if="bejometerError">Bejometer Error</md-dialog-content>
    <md-layout md-align="center" v-if="!bejometerRequesting">
      <md-dialog-actions>
        <md-button @click.native="closeDialog('bejometerResult')">Tutup</md-button>
      </md-dialog-actions>
    </md-layout>
  </md-dialog>
</md-theme>
