<md-tab md-icon="favorite_border">
  <form novalidate @submit.stop.prevent="bejometerSubmit">
    <md-input-container>
      <md-icon>person</md-icon>
      <label>Nama anda</label>
      <md-input v-model="bejometerInput.name1"></md-input>
    </md-input-container>
    <md-input-container>
      <md-icon>today</md-icon>
      <label>Tanggal lahir anda</label>
      <md-input type="date" v-model="bejometerInput.date1"></md-input>
    </md-input-container>
    <md-input-container>
      <md-icon>person</md-icon>
      <label>Nama "dia"</label>
      <md-input v-model="bejometerInput.name2"></md-input>
    </md-input-container>
    <md-input-container>
      <md-icon>today</md-icon>
      <label>Tanggal lahir "dia"</label>
      <md-input type="date" v-model="bejometerInput.date2"></md-input>
    </md-input-container>
    <md-layout md-align="center">
      <md-button id="bejometerButton" :disabled="bejometerRequesting" type="submit" class="md-raised md-primary">JODOH?</md-button>
    </md-layout>
  </form>
</md-tab>

<md-dialog md-open-from="#bejometerButton" md-close-to="#bejometerButton" ref="bejometerResult">
  <md-layout md-align="center" v-if="bejometerRequesting">
    <md-spinner md-indeterminate></md-spinner>
  </md-layout>
  <div v-if="bejometerResult">
    <md-dialog-title>Hasil Bejometer</md-dialog-title>
    <md-dialog-content>
      <div v-if="bejometerResult.person1.gender === bejometerResult.person2.gender">
        Maaf {{bejometerResult.person1.gender === 'L' ? 'mas' : 'mbak'}},
        Bejometer tidak mengenal hubungan sesama jenis.
      </div>
      <div v-if="bejometerResult.person1.gender !== bejometerResult.person2.gender">
        <div>{{bejometerResult.person1.gender === 'L' ? 'Mas' : 'Mbak'}} {{bejometerInput.name1}}</div>
        <div>{{bejometerResult.person1.indonesiaDay}} {{bejometerResult.person1.javaDay}}</div>
        <md-icon>favorite</md-icon>
        <div>{{bejometerResult.person2.gender === 'L' ? 'Mas' : 'Mbak'}} {{bejometerInput.name2}}</div>
        <div>{{bejometerResult.person2.indonesiaDay}} {{bejometerResult.person2.javaDay}}</div>
        <div>{{Math.round(bejometerResult.match*10000)/100}}% Jodoh</div>
      </div>
    </md-dialog-content>
  </div>
  <div v-if="bejometerError">
    <md-dialog-title>Bejometer Error</md-dialog-title>
  </div>
  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('bejometerResult')">Tutup</md-button>
  </md-dialog-actions>
</md-dialog>
