<md-tab md-icon="search">
  <form novalidate @submit.stop.prevent="consultationSubmit">
    <md-input-container>
      <md-icon>person</md-icon>
      <label>Nama</label>
      <md-input v-model="consultationInput.name"></md-input>
    </md-input-container>
    <md-input-container>
      <md-icon>today</md-icon>
      <label>Tanggal lahir</label>
      <md-input type="date" v-model="consultationInput.date"></md-input>
    </md-input-container>
    <md-layout md-align="center">
      <md-button id="consultationButton" :disabled="consultationRequesting" type="submit" class="md-raised md-primary">KONSULTASI</md-button>
    </md-layout>
  </form>
</md-tab>

<md-dialog md-open-from="#consultationButton" md-close-to="#consultationButton" ref="consultationResult">
  <md-dialog-title v-if="consultationResult">Rekomendasi jodoh untuk {{consultationInput.name}}</md-dialog-title>
  <md-dialog-content>
    <md-layout md-align="center" v-if="consultationRequesting">
      <md-spinner md-indeterminate></md-spinner>
    </md-layout>
    <div v-if="consultationResult">
      <md-list class="md-triple-line">
        <md-list-item v-for="person in consultationResult">
          <div class="md-list-text-container">
            <span>{{person.name}}</span>
            <span>{{person.placeOfBirth}}, {{new Date(person.dateOfBirth).toLocaleDateString()}}</span>
            <span>{{toPercent(person.match)}} jodoh</span>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </div>
    <md-layout md-align="center" v-if="consultationError"><md-icon class="md-size-2x">sentiment_dissatisfied</md-icon></md-layout>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('consultationResult')">Tutup</md-button>
  </md-dialog-actions>
</md-dialog>
