<md-tab md-icon="search">
  <form novalidate @submit.stop.prevent="consultationSubmit">
    <md-input-container>
      <md-icon>person</md-icon>
      <label>Nama</label>
      <md-input v-model="consultationName"></md-input>
    </md-input-container>
    <md-input-container>
      <md-icon>today</md-icon>
      <label>Tanggal lahir</label>
      <md-input type="date" v-model="consultationDate"></md-input>
    </md-input-container>
    <md-layout md-align="center">
      <md-button id="consultationButton" :disabled="consultationRequesting" type="submit" class="md-raised md-primary">KONSULTASI</md-button>
    </md-layout>
  </form>
</md-tab>

<md-dialog md-open-from="#consultationButton" md-close-to="#consultationButton" ref="consultationResult">
  <md-dialog-title v-if="consultationResult">Rekomendasi jodoh untuk {{toTitleCase(consultationName)}}</md-dialog-title>
  <md-dialog-content v-if="consultationResult">
    <md-list class="md-triple-line">
      <md-list-item v-for="person in consultationResult">
        <div class="md-list-text-container">
          <span>{{toTitleCase(person.name)}}</span>
          <span>{{person.placeOfBirth}}, {{new Date(person.dateOfBirth).toLocaleDateString()}}</span>
          <span>{{toPercent(person.match)}} jodoh</span>
        </div>
        <md-button class="md-icon-button md-list-action" :href="bejometerBuildShareURL(consultationName, consultationDate, person.name, person.dateOfBirth)" target="_blank">
          <md-icon class="md-primary">open_in_new</md-icon>
        </md-button>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('consultationResult')">Tutup</md-button>
  </md-dialog-actions>
</md-dialog>
