<md-tab md-icon="search">
  <form novalidate @submit.stop.prevent="consultationSubmit">
    <md-input-container>
      <md-icon>person</md-icon>
      <label>Nama</label>
      <md-input v-model="consultationInput.name"></md-input>
    </md-input-container>
    <md-input-container>
      <md-icon>today</md-icon>
      <label>Tanggal lahir</label>
      <md-input type="date" v-model="consultationInput.date"></md-input>
    </md-input-container>
    <md-layout md-align="center">
      <md-button id="consultationButton" :disabled="consultationRequesting" type="submit" class="md-raised md-primary">KONSULTASI</md-button>
    </md-layout>
  </form>
</md-tab>

<md-dialog md-open-from="#consultationButton" md-close-to="#consultationButton" ref="consultationResult">
  <md-dialog-title>Hasil Konsultasi</md-dialog-title>
  <md-dialog-content>
    <md-layout v-if="consultationResult" md-align="center">
      <md-spinner v-if="consultationRequesting" md-indeterminate></md-spinner>
      result: {{consultationResult}}. share URL: {{consultationShareURL}}
    </md-layout>
    <md-layout v-if="consultationError">
      error: {{consultationError}}
    </md-layout>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('consultationResult')">Tutup</md-button>
  </md-dialog-actions>
</md-dialog>
