<footer class="page-footer pink">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Tentang Bejometer</h5>
        <p class="grey-text text-lighten-4">
          Sebagai sebuah alat ukur, Bejometer selalu memberikan hasil yang konsisten. Bejometer menghitung dengan seksama setiap detil nama dan tanggal yang dimasukkan, tidak asal mengeluarkan angka acak sebagai hasil.
          <br>
          <br>
          <span style="text-decoration: underline">Hasil perhitungan Bejometer bukanlah ramalan.</span> Bejometer sekedar menghitung secara matematis.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Link Terkait</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Bejometer di Play Store</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Bejometer di App Store</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Bejometer di Github</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Tebak Gender</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © <%= new Date().getFullYear() %> alpancs
    </div>
  </div>
</footer>
