<head>
  <title>Bejometer, Alat Ukur Kabegjan</title>
  <meta name="description" content="Sebagai sebuah alat ukur, Bejometer selalu memberikan hasil yang konsisten. Bejometer menghitung dengan seksama setiap detil nama dan tanggal yang dimasukkan, tidak asal mengeluarkan angka acak sebagai hasil.">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="preload" type="text/css" href="/stylesheets/materialize.min.css" media="screen,projection" onload="this.rel='stylesheet'">
  <link rel="preload" href="/stylesheets/index.css" onload="this.rel='stylesheet'">
  <link rel="preload" href="/stylesheets/font-awesome.min.css" onload="this.rel='stylesheet'">
  <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" onload="this.rel='stylesheet'">
</head>
