<!DOCTYPE html>
<html>

<head>
  <title>Bejometer, Alat Ukur Kabegjan</title>
  <meta name="description" content="Sebagai sebuah alat ukur, Bejometer selalu memberikan hasil yang konsisten. Bejometer menghitung dengan seksama setiap detil nama dan tanggal yang dimasukkan, tidak asal mengeluarkan angka acak sebagai hasil.">
</head>

<body>
  <div id="bejometer" hidden :hidden="false">
    <div v-if="inputErrors.length">
      <ul>
        <li v-for="inputError in inputErrors">{{inputError}}</li>
      </ul>
    </div>

    <div>
      <label for="name1">Nama</label>
      <input type="text" v-model="name1">
      <label for="date1">Tanggal Lahir</label>
      <input type="date" v-model="date1">
    </div>

    <div>
      <label for="name2">Nama</label>
      <input type="text" v-model="name2">
      <label for="date2">Tanggal Lahir</label>
      <input type="date" v-model="date2">
    </div>

    <div>
      <button type="button" @click="updateResult" :disabled="requesting">💪</button>
    </div>

    <div v-if="result">
      <span>Person 1: {{result.person1.indonesia_day}} {{result.person1.java_day}}</span>
      <span>Person 2: {{result.person2.indonesia_day}} {{result.person2.java_day}}</span>
      <span>Match: {{result.match}}</span>
    </div>

    <div v-if="error">
      <span>Error {{error.response.status}} {{error.response.statusText}}</span>
    </div>

    <div v-if="result">
      <span>Share:</span>
      <span style="text-decoration: underline">
        {{ buildShareURL() }}
      </span>
    </div>
  </div>
</body>

<script src="/javascripts/vue/vue<%= production ? '.min' : '' %>.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/axios/axios.min.js"></script>

</html>
