<!DOCTYPE html>
<html>

<head>
  <title>Bejometer, Alat Ukur Kabegjan</title>
  <meta name="description" content="Sebagai sebuah alat ukur, Bejometer selalu memberikan hasil yang konsisten. Bejometer menghitung dengan seksama setiap detil nama dan tanggal yang dimasukkan, tidak asal mengeluarkan angka acak sebagai hasil.">
  <meta content="/images/bejometer.png" property="og:image">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <link rel="preload" href="/stylesheets/vue-material-v0.7.1.css" onload="this.rel='stylesheet'">

  <link rel="preload" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" onload="this.rel='stylesheet'">
  <link rel="preload" href="//fonts.googleapis.com/icon?family=Material+Icons" onload="this.rel='stylesheet'">
</head>

<body>
  <div id="app">
    <md-tabs md-fixed>
      <%- include('tab-bejometer') %>
      <%- include('tab-consultation') %>
      <%- include('tab-tebakgender') %>
    </md-tabs>
    <md-snackbar ref="error"><md-icon>sentiment_dissatisfied</md-icon> koneksi ke server bermasalah</md-snackbar>
    <md-snackbar ref="copy">Teks telah disalin ke clipboard</md-snackbar>
  </div>
</body>

<% let vuejs = production ? 'vue.min.js' : 'vue.js' %>
<script src="/javascripts/<%= vuejs %>"></script>
<script src="/javascripts/vue-material-v0.7.1.js"></script>
<script async src="/javascripts/clipboard.min.js"></script>
<script async src="/javascripts/index.js"></script>
<script async src="/javascripts/axios.min.js"></script>

</html>
