<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/andrewhfarmer.com/style.689830072.css' />
</head>

<body>
  <h1 class="text-center"><%= title %></h1>
  <div class="ck_form ck_vertical_subscription_form ck_horizontal">
    <div class="ck_form_fields">
      <div class="ck_control_group ck_first_name_field_group">
        <label class="ck_label" for="name1">Name</label>
        <input class="ck_first_name" type="text" name="name1">
      </div>
      <div class="ck_control_group ck_email_field_group">
        <label class="ck_label" for="date1">Birth Date</label>
        <input class="ck_email_address" type="date" name="date1" required="">
      </div>
    </div>
    <div class="ck_form_fields">
      <div class="ck_control_group ck_first_name_field_group">
        <label class="ck_label" for="name2">Name</label>
        <input class="ck_first_name" type="text" name="name2">
      </div>
      <div class="ck_control_group ck_email_field_group">
        <label class="ck_label" for="date2">Birth Date</label>
        <input class="ck_email_address" type="date" name="date2" required="">
      </div>
    </div>
    <div>
      <button class="subscribe_button ck_subscribe_button btn fields">♥</button>
    </div>
  </div>
</body>

</html>
