<div id="consultation" hidden :hidden="false" class="pink-text">
  <div v-if="inputErrors.length">
    <ul>
      <li v-for="inputError in inputErrors">{{inputError}}</li>
    </ul>
  </div>

  <div class="row">
    <div class="col l3"></div>
    <div class="col s12 m12 l6">
      <div class="input-field">
        <i class="fa fa-user fa-fw prefix" aria-hidden="true"></i>
        <input type="text" v-model="name" id="nameConsultation">
        <label for="nameConsultation">Nama</label>
      </div>
      <div class="input-field">
        <i class="fa fa-calendar fa-fw prefix" aria-hidden="true"></i>
        <input type="date" class="datepicker" v-model="date" id="dateConsultation">
        <label for="dateConsultation">Tanggal Lahir</label>
      </div>
    </div>
    <div class="col l3"></div>
  </div>

  <div class="center">
    <button class="btn pink waves-effect" type="button" @click="updateResult" :disabled="requesting">
      KONSULTASI
    </button>
  </div>

  <div v-if="result">
    <span>Suggestions:</span>
    <span v-for="person in result">{{person.name}} {{new Date(person.dateOfBirth)}} {{person.match}}</span>
  </div>

  <div v-if="error">
    <span>Error {{error.response.status}} {{error.response.statusText}}</span>
  </div>

  <div v-if="shareURL">
    <span>Share:</span>
    <span>{{ shareURL }}</span>
  </div>
</div>
