<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <input-person v-bind:person1></input-person>
  <input-person v-bind:person2></input-person>
</body>

<script src="<%= `/javascripts/vue/vue${production ? '.min' : ''}.js` %>"></script>

</html>
