<!DOCTYPE html>
<html>

<head>
  <title>Bejometer, Alat Ukur Kabegjan</title>
  <meta name="description" content="Sebagai sebuah alat ukur, Bejometer selalu memberikan hasil yang konsisten. Bejometer menghitung dengan seksama setiap detil nama dan tanggal yang dimasukkan, tidak asal mengeluarkan angka acak sebagai hasil.">
  <script src="/javascripts/vue/vue<%= production ? '.min' : '' %>.js"></script>
</head>

<body>
  <%- include('index-bejometer') %>
  <%- include('index-tebakgender') %>
</body>

<script src="/javascripts/axios/axios.min.js"></script>
<script src="/javascripts/index.js"></script>

</html>
