<nav class="nav-extended pink">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Bejometer</a>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent tabs-fixed-width">
      <li class="tab">
        <a href="#bejometer" onclick="localStorage.lastTab='bejometer'">
          <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
        </a>
      </li>
      <li class="tab">
        <a href="#consultation" onclick="localStorage.lastTab='consultation'">
          <i class="fa fa-search fa-2x" aria-hidden="true"></i>
        </a>
      </li>
      <li class="tab">
        <a href="#tebakgender" onclick="localStorage.lastTab='tebakgender'">
          <i class="fa fa-venus-mars fa-2x" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
