<md-tab md-icon="favorite_border">
  <md-layout md-row>
    <md-layout md-flex="25" md-hide-small></md-layout>
    <md-layout md-column>
      <form novalidate @submit.stop.prevent="bejometerSubmit">
        <md-input-container :class="bejometerResult && !human(bejometerResult.person1.genderConfidence) ? 'md-input-invalid' : ''">
          <md-icon>person</md-icon>
          <label>Nama anda</label>
          <md-input v-model="bejometerName1"></md-input>
          <span class="md-error">Harus nama orang, bukan nama hewan</span>
        </md-input-container>
        <md-input-container>
          <md-icon>today</md-icon>
          <label>Tanggal lahir anda</label>
          <md-input type="date" v-model="bejometerDate1"></md-input>
        </md-input-container>
        <md-input-container :class="bejometerResult && !human(bejometerResult.person2.genderConfidence) ? 'md-input-invalid' : ''">
          <md-icon>person</md-icon>
          <label>Nama "dia"</label>
          <md-input v-model="bejometerName2"></md-input>
          <span class="md-error">Harus nama orang, bukan nama hewan</span>
        </md-input-container>
        <md-input-container>
          <md-icon>today</md-icon>
          <label>Tanggal lahir "dia"</label>
          <md-input type="date" v-model="bejometerDate2"></md-input>
        </md-input-container>
        <md-layout md-align="center">
          <md-button id="bejometerButton" :disabled="bejometerRequesting" type="submit" class="md-raised md-primary">JODOH?</md-button>
        </md-layout>
        <md-progress md-indeterminate v-if="bejometerRequesting"></md-progress>
      </form>
    </md-layout>
    <md-layout md-flex="25" md-hide-small></md-layout>
  </md-layout>
</md-tab>

<md-dialog class="md-subheading" md-open-from="#bejometerButton" md-close-to="#bejometerButton" ref="bejometerResult">
  <md-dialog-content v-if="bejometerResult">
    <md-layout md-align="center" v-if="bejometerResult.person1.gender === bejometerResult.person2.gender">
      Maaf {{bejometerResult.person1.gender === 'L' ? 'mas' : 'mbak'}}, Bejometer tidak mengenal hubungan sesama jenis.
    </md-layout>
    <md-layout md-column v-if="bejometerResult.person1.gender !== bejometerResult.person2.gender">
      <md-layout md-align="center">{{bejometerResult.person1.gender === 'L' ? 'Mas' : 'Mbak'}} {{toTitleCase(bejometerName1)}}</md-layout>
      <md-layout md-align="center" v-if="bejometerDate1">{{toTitleCase(bejometerResult.person1.indonesiaDay+' '+bejometerResult.person1.javaDay)}}</md-layout>
      <md-layout md-align="center"><md-icon class="md-primary md-size-2x">favorite</md-icon></md-layout>
      <md-layout md-align="center">{{bejometerResult.person2.gender === 'L' ? 'Mas' : 'Mbak'}} {{toTitleCase(bejometerName2)}}</md-layout>
      <md-layout md-align="center" v-if="bejometerDate2">{{toTitleCase(bejometerResult.person2.indonesiaDay+' '+bejometerResult.person2.javaDay)}}</md-layout>
      <md-layout md-align="center" class="md-title md-primary md-raised">{{toPercent(bejometerResult.match)}} Jodoh</md-layout>
      <md-layout md-align="center" v-if="bejometerResult.match > 0.01"><md-spinner :md-progress="bejometerResult.match*100"></md-spinner></md-layout>
    </md-layout>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('bejometerResult')">Tutup</md-button>
  </md-dialog-actions>
</md-dialog>
