<md-tab md-icon="wc">
  <md-layout md-row>
    <md-layout md-flex="25" md-hide-small></md-layout>
    <md-layout md-column>
      <form novalidate @submit.stop.prevent="tebakgenderSubmit">
        <md-input-container>
          <md-icon>person</md-icon>
          <label>Nama orang, bukan nama hewan</label>
          <md-input v-model.lazy="tebakgenderName"></md-input>
        </md-input-container>
        <md-layout md-align="center">
          <md-button id="tebakgenderButton" :disabled="tebakgenderRequesting" type="submit" class="md-raised md-primary">TEBAK GENDER</md-button>
        </md-layout>
      </form>
    </md-layout>
    <md-layout md-flex="25" md-hide-small></md-layout>
  </md-layout>
</md-tab>

<md-dialog class="md-subheading" md-open-from="#tebakgenderButton" md-close-to="#tebakgenderButton" ref="tebakgenderResult">
  <md-dialog-content v-show="tebakgenderRequesting">
    <md-layout md-align="center"> <md-spinner md-indeterminate></md-spinner> </md-layout>
  </md-dialog-content>
  <md-dialog-content v-if="tebakgenderResult">
    <div style="padding-top: 20px">
      <span v-show="human(tebakgenderResult.confidence)">
        <span v-show="tebakgenderResult.confidence < 0.95">Sepertinya</span>
        {{toTitleCase(tebakgenderName)}}
        adalah nama
        {{tebakgenderResult.gender === 'L' ? 'laki-laki' : 'perempuan'}}.
      </span>
      <span v-show="!human(tebakgenderResult.confidence)">
        Hmm, tidak yakin {{toTitleCase(tebakgenderName)}}
        laki-laki atau perempuan.
        Mungkin juga bukan nama orang.
      </span>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" @click.native="$refs.tebakgenderResult.close()">Tutup</md-button>
  </md-dialog-actions>
</md-dialog>
