<md-tab md-icon="wc">
  <form novalidate @submit.stop.prevent="tebakgenderSubmit">
    <md-input-container>
      <md-icon>person</md-icon>
      <label>Nama orang, bukan nama hewan</label>
      <md-input v-model="tebakgenderInput.name"></md-input>
    </md-input-container>
    <md-layout md-align="center">
      <md-button id="tebakgenderButton" :disabled="tebakgenderRequesting" type="submit" class="md-raised md-primary">TEBAK GENDER</md-button>
    </md-layout>
  </form>
</md-tab>

<md-dialog class="md-subheading" md-open-from="#tebakgenderButton" md-close-to="#tebakgenderButton" ref="tebakgenderResult">
  <md-dialog-title v-if="tebakgenderError"><md-layout md-align="center">NJEBLUG</md-layout></md-dialog-title>
  <md-dialog-content>
    <md-layout md-align="center" v-if="tebakgenderRequesting">
      <md-spinner md-indeterminate></md-spinner>
    </md-layout>
    <div v-if="tebakgenderResult">
      <span v-if="tebakgenderResult.confidence > 0.5">
        {{toTitleCase(tebakgenderInput.name)}}
        <span v-if="tebakgenderResult.confidence < 0.95">sepertinya</span>
        adalah nama
        {{tebakgenderResult.gender === 'L' ? 'laki-laki' : 'perempuan'}}.
      </span>
      <span v-if="tebakgenderResult.confidence <= 0.5">
        {{toTitleCase(tebakgenderInput.name)}}
        bukan nama orang.
      </span>
    </div>
    <md-layout md-align="center" v-if="tebakgenderError"><md-icon class="md-size-2x">sentiment_dissatisfied</md-icon></md-layout>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('tebakgenderResult')">Tutup</md-button>
  </md-dialog-actions>
</md-dialog>
