<md-tab md-icon="wc">
  <form novalidate @submit.stop.prevent="tebakgenderSubmit">
    <md-input-container>
      <md-icon>person</md-icon>
      <label>Nama orang, bukan nama hewan</label>
      <md-input v-model="tebakgenderName"></md-input>
    </md-input-container>
    <md-layout md-align="center">
      <md-button id="tebakgenderButton" :disabled="tebakgenderRequesting" type="submit" class="md-raised md-primary">TEBAK GENDER</md-button>
    </md-layout>
    <md-progress md-indeterminate v-if="tebakgenderRequesting"></md-progress>
  </form>
</md-tab>

<md-dialog class="md-subheading" md-open-from="#tebakgenderButton" md-close-to="#tebakgenderButton" ref="tebakgenderResult">
  <md-dialog-content v-if="tebakgenderResult">
    <span v-if="human(tebakgenderResult.confidence)">
      <span v-if="tebakgenderResult.confidence < 0.95">Sepertinya</span>
      {{toTitleCase(tebakgenderName)}}
      adalah nama
      {{tebakgenderResult.gender === 'L' ? 'laki-laki' : 'perempuan'}}.
    </span>
    <span v-if="!human(tebakgenderResult.confidence)">
      Hmm, tidak yakin {{toTitleCase(tebakgenderName)}}
      laki-laki atau perempuan.
      Mungkin juga bukan nama orang.
    </span>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-primary" @click.native="closeDialog('tebakgenderResult')">Tutup</md-button>
  </md-dialog-actions>
</md-dialog>
